body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    margin-top: 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto; /* Center the container horizontally */
    padding: 20px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="text"], input[type="number"], button {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 10px solid #000;
    border-radius: 25px;
}

button {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}


.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}